/*-- scss:defaults --*/

$body-bg: #ffffff;

.reveal .title {
    font-size: 4.3rem; 
  }
  
#introduction .fragment {
    font-size: 2rem;
}

#conclusion .fragment{
  font-size: 2rem;
}

#future-enhancements .fragment{
  font-size: 2rem;
}